.video-section__img {
width: 100%;
height: auto;
margin-top: 10px;
}
.video-section__img--height {
    width: 100%;
    height: 70%;
    margin-top: 10px;
    }

span {
    font-size: small;
    color: gray;
    font-weight: lighter;
}